debug = False
mode = 'terminal'

# relative to main.py. if None, don't log conversations
convo_logging_dir = "../conversations"

#### for goodreads
gr_api_key = ''
gr_api_secret = ''

#### for wit
wit_access_token = ''

#### for text summarization with sumy--see summarize.py
summarization_language = "english"
summarization_sentence_count = 5
summarization_max_chars = 500

#### flask
# flask_secret should be a long stream of random bytes--see: http://flask.pocoo.org/docs/1.0/config/
flask_secret = ''
flask_host = "127.0.0.1" # set to 0.0.0.0 to make accessible to other machines
flask_port = 5000

# how to select string templates for NLU
template_selection_strategy = "linear" # "linear" or "random"